.padding-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.centralizar {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.centralizar2 {
    padding-top: 4%;
    flex-direction: column;
    display: flex;
    align-items: center;
    text-align: center;
}
.imagem {
    width: 100%;
    height: "auto";
    margin-bottom: 20px;
}