.registration-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.registration-form {
    max-width: 400px;
    width: 100%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.registration-title {
    text-align: center;
    margin-bottom: 20px;
}

.form-item {
    margin-bottom: 20px;
}

.error-message {
    color: red;
}

.registration-button {
    width: 100%;
}

.back-button {
    margin-top: 20px;
    width: 100%;
}