.centralizar{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
}
.button{
    border-radius: 8px;
    border: 1px solid black;
    width: 250px ;
    height: 50px ;
    padding: 5px;
    background-color: rgb(91, 100, 116);
}
.button:hover{
    background-color:   rgb(71, 75, 82);
}
