.navbar-collapse {
    flex-grow: 0;
}

.bg-header {
    background-color: rgba(255, 255, 255, 1);
}

.text-header {
    font-weight: bold;
}

.txt {
    color: black;
}
.fixed-bottom {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgba(249, 249, 249, 0.93);
}
/* .header-menu-container {
    display: flex;
    justify-content: flex-end; 
    width: 100%;
} */