.center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }

  .table-container {
    width: 75%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  .table-wrapper {
    flex: 1;
    margin: 0 10px;
  }

  .estilo th, .estilo td {
    padding: 15px;
    text-align: center;
  }

  .estilo {
    width: 100%;
  }
  